* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-font-smoothing: antialised;
   -moz-osx-font-smoothing: grayscale;
}

:root{
   font-size: 62.5%; //1rem = 10px
}

body{
   height: 100vh;
   width: 100vw;;
   font-family: 'Raleway', sans-serif;
}

nav{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.top{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 3.2rem 0rem;
   width: 113.6rem; 
   background-color: #FFF
}

.top-left{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0rem;
   gap: 3.2rem;
}

.top-left input{
   width: 39.3rem;
   height: 4rem;
   border-radius: 2rem;
   border-style: hidden;
   background: #F5F5F5;
   padding: .8rem 1.6rem;
}

.top button{
   width: 18.2rem;
   height: 5rem;
   border: .1rem solid #2A7AE4;
   background-color: #FFF;
   font-family: 'Raleway';
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #2A7AE4;
}

.top button:hover{
   background-color: #2A7AE4;
   color: #FFF;
   cursor: pointer;
}

.banner{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   background-image: url("img/banner-image.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 100vw;
   height: 35rem;
}

.banner-text{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   width: 113.6rem;
   height: 28.6rem;
   color: #fff;
   font-family: 'Raleway';
   font-style: normal;
   padding: 3.2rem;
   gap: 1.6rem;
   margin:auto;
}

.banner-text h1{
   font-weight: 700;
   font-size: 5.2rem;
   line-height: 6.1rem;
}

.banner-text h3{
   font-weight: 700;
   font-size: 2.2rem;
   line-height: 2.6rem;
}

.banner-text button{
   width: 13rem;
   height: 5.1rem;
   background-color: #2A7AE4;
   color: #FFF;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 1.6rem;
   border-style: none;
   line-height: 1.9rem;
}

.banner-text button:hover{
   background-color: #0b428b;
   color: #FFF;
   cursor: pointer;
}

main{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 6.4rem 0;
   width: 100vw;
}

.category{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1.6rem;
}

.header-category{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: baseline;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   width: 100%;
}

.header-category h1{
   font-size: 3.2rem;
   line-height: 3.8rem;
   color: #464646;
}

.header-category a{
   display: flex;
   align-items: center;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #2A7AE4;
   text-decoration: none;
}

i{
   padding-left: 1.2rem;
   font-size: 1.6rem;
}

.product-line{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   gap: 1.6rem;
   width: 113.6rem;
   height: 25.2rem;
   margin: auto;
}

.product{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: .8rem;
   font-family: 'Raleway';
   font-style: normal;
   
}

.product h3{
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 1.6rem;
}

.product h4{
   font-weight: 700;
   font-size: 1.6rem;
   line-height: 1.9rem;
}

.product a{
   font-weight: 700;
   font-size: 1.6rem;
   line-height: 1.9rem;
   text-decoration: none;
   color: #2A7AE4;;
}

footer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer-all {
   width: 100vw;
   padding: 7.5rem 15.2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #EAF2FD;
}

.footer-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 113.6rem;
   gap: 11.2rem
}

.footer-info {
   display: flex;
   gap: 11.2rem
}

.footer-info img{
   width: 17.6rem;
   height: 5rem;
}

.footer-info ul{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 2.4rem;
}

.footer-info li a{
   text-decoration: none;
   font-family: 'Raleway', 'sans-serif';
   font-style: normal;
   font-weight: 500;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #464646;
}

.contact {
   display: flex;
   flex: 1;
}

.contact form{
   width: 100%;
   display: grid;
   gap: 1.6rem;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #464646;
}

.contact form input{
   background: #FFFFFF;
   border-radius: .4rem;
   height: 5.6rem;
   padding: 1.6rem;
   font-family: 'Raleway';
   font-style: normal;
   outline: none;
   border: 0  none;
}

.contact button{
   width: 16.5rem;
   height: 5.1rem;
   background-color: #2A7AE4;
   border-color: #2A7AE4;
   color: #FFF;
   outline: none;
   border-style: none;
}

.contact button:hover{
   background-color: #0b428b;
   color: #FFF;
   cursor: pointer;
}

.credits{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 1.6rem;
   line-height: 1.9rem;
   text-align: center;
   padding: 3.2rem;
   color: #464646;
}